<div class="card">
    <div class="card-header">

        <blockquote class="blockquote">
            <h1 class="display-4">Sviluppatori</h1>
        </blockquote>

    </div>
    <div class="card-body">
    <ul>
        <li>
            <h4>Christian Grifoni</h4>
            <%= link_to "Vedi dettagli", "/about/christian"%>
        </li>
        <br>
        <li>
            <h4>Sandro Strolighi</h4>
            <%= link_to "Vedi dettagli", "/about/sandro"%>
        </li>
        <br>
        <li>
            <h4>Lorenzo Capobianchi</h4>
            <%= link_to "Vedi dettagli", "/about/lorenzo"%>
        </li>
    
    </ul>
    </div>
</div>
<br>