<h1>Sviluppatori</h1>
<ul>
    <li>
        <h4>Christian Grifoni</h4>
        <%= link_to "Vedi dettagli", "/about/christian"%>
    </li>
     <li>
        <h4>Sandro Strolighi</h4>
        <%= link_to "Vedi dettagli", "/about/sandro"%>
    </li>
    <li>
        <h4>Lorenzo Capobianchi</h4>
        <%= link_to "Vedi dettagli", "/about/lorenzo"%>
    </li>

</ul>