<div class="card">
    <div class="card-header">

        <blockquote class="blockquote">
            <h1 class="display-4">Christian Grifoni</h1>
            <footer class="blockquote-footer">Studente presso &nbsp;<cite title="Source Title">Sapienza Università di
                    Roma</cite></footer>
        </blockquote>
        </blockquote>

    </div>
    <div class="card-body">
        <ul>
            <li>
                <h4>Email</h4>
                <p>grifoni.1791973@studenti.uniroma1.it <a href="mailto:grifoni.1791973@studenti.uniroma1.it">
                        &nbsp; Inviami
                        un'email</a></p>

            </li>
            <br>
            <li>
                <h4>Facebook</h4>
                <a href="https://www.facebook.com/christian.grifoni.9">
                    Visita il mio profilo Facebook
                </a>
            </li>
            <br>
            <li>
                <h4>Instagram</h4>
                <a href="https://instagram.com/christiangrifoni?igshid=11ibry15gk70p">
                    Visita il mio profilo Instagram
                </a>
            </li>

        </ul>
    </div>
</div>