<h1>Sandro Strolighi</h1>
<p>email: strolighi.1806037@studenti.uniroma1.it <a href="mailto:strolighi.1806037@studenti.uniroma1.it"> &nbsp; Inviami un'email</a></p>
<div class="icone"> 
    <a href="https://www.facebook.com/sandro.strolighi"><div class="fa fa-facebook"></div></a>
    <a href="https://www.instagram.com/sandro.strolighi/"><div class="fa fa-instagram"></div></a>
</div>